.undertale-img {
  width: 40%;
}

h1.title-404 {
  font-size: 8rem;
  font-weight: 600;
  padding-top: 2rem;
  color: #29C3EC;
  width: fit-content;
  margin: 1rem auto;
}

h2 {
  color: #3b3663;
  width: fit-content;
  margin: 1rem auto;
  height: auto;
  font-weight: 800;
}

.message-404 {
  padding: 1rem 0;
  font-style: italic;
}

.btn-return {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.5rem 5rem;
  border-radius: 7rem;
  margin-top: 2rem;
  border: 0;
  background: #29C3EC;
  transition: all 200ms ease-in-out;
}

.btn-return:hover,
.btn-return:focus {
  color: #fff !important;
  background: rgba(41, 195, 236, 0.56);
  padding: 1.5rem 10rem;
}