html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.home-banner {
  padding-top: 5.5rem;
  padding-bottom: 7.5rem;
  background: #dbf5fc;
}

.btn-blue {
  padding: 6px 12px !important;
  background: #29c3ec;
  color: white;
  border: 0;
  transition: all 220ms linear;
}

.btn-blue:hover,
.btn-blue:focus {
  color: white;
  background: rgba(41, 195, 236, 0.56);
}

.white-container {
  padding: 6.5rem 0;
}

h1.body-header {
  font-size: 2.5rem;
}

h2.body-header {
  font-size: 2rem;
}

p.sub-heading {
  color: #29c3ec;
}